@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Análisis Eda</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <link rel="stylesheet" href="~/css/tabladataframe.css">
    <script src="~/js/Edajs.js"></script>
    <script src="~/js/dashboardscript.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
</head>
<body>

    <div id="histogram-container" style="width: 100%; height: 400px;"></div>
    <div id="boxplot-container" style="width: 100%; height: 400px; "></div>
    <div id="pie-nacionalidad" style="width: 100%; height: 400px;"></div>
    <div id="scatter-container" style="width: 100%; height: 400px;"></div>
    <div id="heatmap-container" style="width: 100%; height: 400px;"></div>
    <div id="correlation-container" style="width: 100%; height: 400px;"></div>
    <div id="jointplot-container" style="width: 100%; height: 400px;"></div>
    <div id="pairplot-container" style="width: 100%; height: 400px;"></div>
    <div id="summary-statistics-container" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;"></div>

</body>
</html>


